<div class="container">
<%# <%= form_for @ticket, url: [:project, @ticket] do |form| %> 
<%= form_for [@project, @ticket] do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
       <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="col-md-3">
    <%= form.label :title %>
    <%= form.text_field :title , class:"form-control"%>
  </div><br>
  
  <div class="col-md-3">
    <%= form.label :description%>
    <%= form.text_field :description,class:"form-control" %>
  </div><br>

  <div class="col-md-3">
    <%= form.label :priority  %>
     <%= form.select :priority, [:low, :medium, :high] %>
  </div><br>

  <div class="col-md-3">
    <%= form.label :start_date%>
    <%= form.date_field :start_date, class:"form-control"%>
  </div><br>

  <div class="col-md-3">
    <%= form.label :end_date %>
    <%= form.date_field :end_date ,class:"form-control" %>
  </div><br>

  <div  class="col-md-3">
    <%= form.label :status %>
    <%= form.select :status, [:intial_stage, :working, :completed] %>
  </div><br>

  <p>
    <%= form.submit class: "btn btn-info btn-sm"%>
  </p>
<% end %>
</div>

